*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}
.container{
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 1fr 4fr; */
}
.dashboard{ 
    grid-column: 1;
    background-color: aqua;
    grid-row: 1/ 5;
    
}
.nav{
    background-color: white;
    border: 1px yellow solid;
    grid-column: 2;
    /* height: 100%; */
    grid: 1/ 2;
}

.board-container{
    border: 1px red solid;
    background-color: aliceblue;
    grid-column: 2;
    grid-row: 2/5;
    display: grid;
}